

  <div class="bv-section-condor" id="condor" >
    <div class=" bv-orange-condor">
      <div class="container "><img class=" bv-logo-condor " src="{{site.img}}/content/condor/condor.svg"></div>

    </div>
    <div class="container vpad--xxl text--left text--xxl ">

      <div class="bob bob--swap">
      <div class="bob__img">
        <a href="http://bit.ly/2ShX45Y" target="_blank">

          <div class="bg-img bg-img--3-2 bv-img-condor" style="background-image: url('{{site.img}}/content/condor/condor.jpg');"> </div>
        </a>
      </div>
      <div class="space--md"></div>
      <div class="bob__text condor-text condor-text--xxxl">
        <div class="condor-title condor-title--lg condor-text--semi">Mit Condor nach&nbsp;Barbados</div>
        <p>Ein Höhenflug der besonderen&nbsp;Art</p>
          <div class="space--lg"></div>
        <a href="http://bit.ly/2lT23uh" target="_blank" class="btn btn--condor condor-text condor-text--bold" >Flug finden</a>

      </div>

    </div>
  </div>

</div>
