// general styles for the project that wouldn't be a reuseable component


.journey {
  // Video section
  &__video { z-index: $z-content-upper; }
  &__video-section { position: relative; }
  &__video-fade {
    z-index: $z-content;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/icons/gradient--grey-darkest.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: bottom;
  }
  // Photo sections
  &__photo {}
  &__photo-image {}
  &__photo-text {}
  &__photo-map {
    width: 480px;
  }
  // Conclusion section
  &__conclusion {
    &-expert {
      position: relative;
      padding: $s4;
      margin-left: $s4;
      margin-top: $s4;
      @include bp($xl){
        margin: 0;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:before {
        top: 0;
        left: 0;
        background-image: url('../img/icons/frame-tl.svg');
      }
      &:after {
        bottom: 0;
        right: 0;
        background-image: url('../img/icons/frame-br.svg');
      }
    }
  }
}




/* ==========================================================================
   Dividers & Alignment
   ========================================================================== */

   .bv-title-divider::after{
       content: ('~');
       display: block;
       font-size: $s9;
       margin: -5px 0 -10px 1px;



     @include bp($md) {
         content: ('~');
         display: block;
         font-size: $s12;
         margin: -12px 0 -20px 1px;

     }

     @include bp($xl) {
         content: ('~');
         display: block;
         font-size: $s14;
         margin: -30px 0 -30px 1px;

     }
   }


.bv-headline-divider::after {
    content: ('~~~');
    display: block;
    font-size: $s5;
    font-weight: bold;
    letter-spacing: -.02px;
    margin: 2px 0 -2px 1px;

    @include bp($xl) {
        content: ('~~~');
        display: block;
        font-size: $s5;
        font-weight: bold;
        letter-spacing: -.02px;
        margin: 6px 0 -4px 1px;

    }
  }




/* ==========================================================================
   Parallax
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media only screen and (max-width: 1024px) {

.bv-remove-bg{
  background-image: none!important;

  &--blue{
    background-image: none!important;
    background-color: $f-blue;}
}

.bv-parallax{
      background-attachment: scroll;
      background-size: cover;
  }
}




/* ==========================================================================
Flight tag - Offers
========================================================================== */

.flight-tag {
  position: absolute;
  top: $s-2;
  left: $s-2;
  display: block;
  width: 50%;
  @include bp($sm){
    top: $s0;
    left: $s0;
    width: 146px;
  }
}
